.svg-add-room-dims {
	width: 34px;
	height: 34px;
}

.svg-bread-close-dims {
	width: 12px;
	height: 12px;
}

.svg-cart-dims {
	width: 23px;
	height: 25px;
}

.svg-cart-product-dims {
	width: 27px;
	height: 28px;
}

.svg-check-dims {
	width: 27px;
	height: 22px;
}

.svg-close-modal-dims {
	width: 27px;
	height: 27px;
}

.svg-close-small-dims {
	width: 12px;
	height: 12px;
}

.svg-complex-dims {
	width: 25px;
	height: 23px;
}

.svg-economy-dims {
	width: 25px;
	height: 25px;
}

.svg-email-dims {
	width: 25px;
	height: 21px;
}

.svg-experience-dims {
	width: 21px;
	height: 25px;
}

.svg-fb-dims {
	width: 15px;
	height: 25px;
}

.svg-fb-fill-dims {
	width: 12px;
	height: 24px;
}

.svg-filter-dims {
	width: 20px;
	height: 20px;
}

.svg-filter-close-dims {
	width: 28px;
	height: 28px;
}

.svg-home-dims {
	width: 20px;
	height: 20px;
}

.svg-insta-dims {
	width: 25px;
	height: 25px;
}

.svg-insta-fill-dims {
	width: 22px;
	height: 22px;
}

.svg-locate-dims {
	width: 21px;
	height: 25px;
}

.svg-phone-dims {
	width: 18px;
	height: 25px;
}

.svg-professionalizm-dims {
	width: 20.46px;
	height: 25px;
}

.svg-project-btn-dims {
	width: 22px;
	height: 19px;
}

.svg-quote-dims {
	width: 30px;
	height: 30px;
}

.svg-remove-cart-item-dims {
	width: 17px;
	height: 17px;
}

.svg-search-dims {
	width: 50px;
	height: 50px;
}

.svg-serv-cond-dims {
	width: 65px;
	height: 65px;
}

.svg-serv-dry-clean-dims {
	width: 65px;
	height: 65px;
}

.svg-serv-project-dims {
	width: 66px;
	height: 65px;
}

.svg-serv-serv-dims {
	width: 67px;
	height: 67px;
}

.svg-serv-temp-dims {
	width: 59px;
	height: 67px;
}

.svg-serv-vent-dims {
	width: 67px;
	height: 67px;
}

.svg-slide-next-dims {
	width: 20px;
	height: 36px;
}

.svg-slide-prev-dims {
	width: 20px;
	height: 36px;
}

.svg-time-dims {
	width: 22px;
	height: 22px;
}

.svg-yt-dims {
	width: 31px;
	height: 25px;
}

.svg-yt-fill-dims {
	width: 29px;
	height: 24px;
}

