.svg-add-room-dims {
	width: 34px;
	height: 34px;
}

.svg-cart-dims {
	width: 24px;
	height: 27px;
}

.svg-check-dims {
	width: 27px;
	height: 22px;
}

.svg-close-modal-dims {
	width: 27px;
	height: 27px;
}

.svg-close-small-dims {
	width: 12px;
	height: 12px;
}

.svg-complex-dims {
	width: 25px;
	height: 23px;
}

.svg-economy-dims {
	width: 25px;
	height: 26px;
}

.svg-email-dims {
	width: 22px;
	height: 18px;
}

.svg-experience-dims {
	width: 21px;
	height: 25px;
}

.svg-fb-dims {
	width: 15px;
	height: 25px;
}

.svg-fb-fill-dims {
	width: 12px;
	height: 24px;
}

.svg-home-dims {
	width: 20px;
	height: 20px;
}

.svg-insta-dims {
	width: 25px;
	height: 25px;
}

.svg-insta-fill-dims {
	width: 22px;
	height: 22px;
}

.svg-locate-dims {
	width: 21px;
	height: 25px;
}

.svg-phone-dims {
	width: 18px;
	height: 25px;
}

.svg-professionalizm-dims {
	width: 21px;
	height: 25px;
}

.svg-serv-cond-dims {
	width: 66px;
	height: 65px;
}

.svg-serv-dry-clean-dims {
	width: 64px;
	height: 44px;
}

.svg-serv-project-dims {
	width: 66px;
	height: 65px;
}

.svg-serv-serv-dims {
	width: 66px;
	height: 66px;
}

.svg-serv-temp-dims {
	width: 44px;
	height: 65px;
}

.svg-serv-vent-dims {
	width: 68px;
	height: 66px;
}

.svg-slide-prev-dims {
	width: 20px;
	height: 36px;
}

.svg-time-dims {
	width: 22px;
	height: 22px;
}

.svg-yt-dims {
	width: 31px;
	height: 25px;
}

.svg-yt-fill-dims {
	width: 29px;
	height: 24px;
}

