section.achive
  .achive__container.container
    h2.achive__title.title.title_black.anim-item.anim-show-from-bottom.anim-no-hide Наші досягнення
    .achive__slider.slider-achive.popup-gallery.anim-item.anim-show-from-right.anim-no-hide
      .slider-achive__item
        a(href='img/sertificate/01.png')
          +image('sertificate/01.png')
      .slider-achive__item
        a(href='img/sertificate/02.png')
          +image('sertificate/02.png')
      .slider-achive__item
        a(href='img/sertificate/03.png')
          +image('sertificate/03.png')
      .slider-achive__item
        a(href='img/sertificate/04.jpeg')
          +image('sertificate/04.jpeg')
      .slider-achive__item
        a(href='img/sertificate/02.png')
          +image('sertificate/02.png')