section.articles
  .articles__container.container
    h2.articles__title.title.title_black.anim-item.anim-show-from-bottom.anim-no-hide Корисна інформація

    .articles__slider.slider-articles.anim-item.anim-show-from-bottom.anim-no-hide
      .slider-articles__item
        .article-card
          .article-card__thumb
            +image('articles/01.jpeg')
            .article-card__date 18/07
          .article-card__content
            h4.article-card__title Побутові об’єкти
            p.article-card__text Up hung mr we give rest half. Way own uncommonly travelling now acceptance bed compliment solicitude. Ecstatic elegance gay but
            .articles__link
              a(href='#').link Читати далі

      .slider-articles__item
        .article-card
          .article-card__thumb
            +image('articles/02.jpeg')
            .article-card__date 23/09
          .article-card__content
            h4.article-card__title Про вентиляційні системи
            p.article-card__text Up hung mr we give rest half. Way own uncommonly travelling now acceptance bed compliment solicitude. Ecstatic elegance gay but
            .articles__link
              a(href='#').link Читати далі

      .slider-articles__item
        .article-card
          .article-card__thumb
            +image('articles/03.jpeg')
            .article-card__date 03/10
          .article-card__content
            h4.article-card__title Правильний підхід до вибору
            p.article-card__text Up hung mr we give rest half. Way own uncommonly travelling now acceptance bed compliment solicitude. Ecstatic elegance gay but
            .articles__link
              a(href='#').link Читати далі

      .slider-articles__item
        .article-card
          .article-card__thumb
            +image('articles/02.jpeg')
            .article-card__date 23/09
          .article-card__content
            h4.article-card__title Про вентиляційні системи
            p.article-card__text Up hung mr we give rest half. Way own uncommonly travelling now acceptance bed compliment solicitude. Ecstatic elegance gay but
            .articles__link
              a(href='#').link Читати далі

