section.banners
  .banners__slider.slider-banners
    .slider-banners__item
      a(href='#')
        +image('banners/banner-1.jpg')
    .slider-banners__item
      a(href='#')
        +image('banners/banner-1.jpg')