#cart.modal
  .cart
    .cart__container
      h4.cart__title.title.title_black Кошик
      .cart__close.modal-close
        +icon('close-modal')
      .cart__out
        .cart__content
      //    goods container

      form(id='order-form').cart__form
        .cart__inline
          .input-field
            i.material-icons.prefix person
            input(type="text" name='cartOrderName')#cart-order-name
            label(for='cart-order-name') Ім'я
          .input-field
            i.material-icons.prefix phone
            input(type="text" name='cartOrderPhone')#cart-order-phone
            label(for='cart-order-phone') Контактний номер
        .input-field
          i.material-icons.prefix mode_edit
          textarea(name='cartOrderMessage').materialize-textarea#cart-order-text
          label(for='cart-order-text') Коментар до замовлення
        .cart__button
          button(type='submit').btn-main.btn-main_min Оформити замовлення
