section.comments
  .comments__parallax.parallax-container
    .parallax
      +image('comments/comments_fon.png')
      .comments__slider.slider-comments
        .comments__item.item-comments.slider-comments__item
          .item-comments__avatar
            +image('/comments/avatar-1.jpg')
          span.item-comments__name Марк Твен - генеральний директор
          .item-comments__icon
            +icon('quote')
          p.item-comments__text Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.

        .comments__item.item-comments.slider-comments__item
          .item-comments__avatar
            +image('/comments/avatar-1.jpg')
          span.item-comments__name Марк Твен - генеральний директор
          .item-comments__icon
            +icon('quote')
          p.item-comments__text Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
