section.comments
  .comments__parallax.parallax-container
    .parallax
      img(src='img/comments_fon.png')
      span ldfkldkflklk
      .comments__slider
        div your content
        div your content
        div your content


