header(data-scroll-header).header-main
  .header-main__container.container
    .header-main__body
      a(href='#').header-main__logo
        +image('logo-min.png','logo-min')
        +image('logo.png', 'logo-full')
      .header-main__contacts
        +icon('phone')
        .header-main__phones
          a(href='tel:+380507777777').link.link_2 (050) 77-77-777
          a(href='tel:+380507777777').link.link_2 (050) 77-77-777
      .header-main__menu.menu-main
        ul
          li
            a(href='#').active Головна
          li
            a(href='#') Каталог
            ul
              li
                a(href='#') Кондиціонери
              li
                a(href='#') Осушувачі/Очищувачі повітря
              li
                a(href='#') Теплові завіси
              li
                a(href='#') Теплові насоси
              li
                a(href='#') Вентиляція
          li
            a(href='#') Роботи
          li
            a(href='#') Статті
          li
            a(href='#') Контакти
      a(href='#').header-main__cart
        +icon('cart')
        span 12
      .burger-menu
        span