section.page-top-section.anim-item.anim-show-from-bottom.anim-no-hide
  .page-top-section__container.container
    .page-top-section__sort.page-top-section__sort_single
      .input-field
        select(name='sun-light')#sun-light.sun-light
          option(value= 1 selected) Спочатку новіші
          option(value= 2) Спочатку старші