section.page-top-section

  div(data-da="filter,2,992,max").page-top-section__params.params-filter
    .params-filter__item
      span Mitsubishi Electric
      +icon('bread-close')
    .params-filter__item
      span Інверторний
      +icon('bread-close')
    .params-filter__item
      span Інверторний
      +icon('bread-close')
    .params-filter__item
      span Mitsubishi Electric
      +icon('bread-close')
    .params-filter__item
      span Інверторний
      +icon('bread-close')
    .params-filter__item
      span Інверторний
      +icon('bread-close')
    a(href='#').params-filter__link.link Скинути фільтр

  .page-top-section__sort
    .page-top-section__btn
      a(href='#')#filter-btn.btn-main.btn-main_min.sidebar-btn
        +icon('filter')
        | Фільтр
    .input-field
      select(name='sun-light')#sun-light.sun-light
        option(value= 1 selected) Від дешевих до дорогих
        option(value= 2) Від дорогих до дешевих
        option(value= 3) По імені



