section.parallax-page.parallax-container
  .parallax
    +image('header-parallax-scroll.jpg')
    .parallax-page__body
      .parallax-page__nav-info.anim-item.anim-show-from-bottom.anim-no-hide
        .parallax-page__container.container
          .parallax-page__breadcumps.breadcumps
            a(href='#')
              +icon('home')
            span /
            a(href='#').breadcumps__link Статті
          h1.parallax-page__title.title.title_page Статті