section.parallax
  .parallax__scene
    .parallax__layer.parallax__bg
    .parallax__layer.parallax__layer-1
    .parallax__layer.parallax__layer-2
    .parallax__layer.parallax__layer-3
    .parallax__layer.parallax__layer-4
  .parallax__container.container
    .parallax__body
      span dffffef
    .parallax__references.references
      span some text about. Will be pasted later ...

