section.parallax-main
  .parallax-main__scene
    div(data-speed = '0').parallax-main__layer.parallax-main__bg
    div(data-speed = '5').parallax-main__layer.parallax-main__layer-1
    div(data-speed = '8').parallax-main__layer.parallax-main__layer-2
    div(data-speed = '15').parallax-main__layer.parallax-main__layer-3
    div(data-speed = '3').parallax-main__layer.parallax-main__layer-4
  .parallax-main__body
    .parallax-main__container.container
      .parallax-main__content
        h1.parallax-main__title.title Створіть свій мікроклімат з S-Clima
        span.parallax-main__desc Пропонуємо комплексний підхід до проєктування та встановлення систем вентиляції, кондиціонування та опалення для промислових та побутових об'єктів.
        .parallax-main__btn
          a(href='#').btn Підібрати
  include _references
  .parallax-main__arrow.parallax-main__arrow_1
  .parallax-main__arrow.parallax-main__arrow_2

