section.parallax
  .parallax__bg
  .parallax__bg-layer-1
  .parallax__bg-layer-2
  .parallax__bg-layer-3
  .parallax__bg-layer-4
  .parallax__container.container
    .parallax__body
      span dffffef
    .parallax__references.references
      span some text about. Will be pasted later ...