section.parallax
  .parallax__scene
    div(data-speed = '0').parallax__layer.parallax__bg
    div(data-speed = '5').parallax__layer.parallax__layer-1
    div(data-speed = '10').parallax__layer.parallax__layer-2
    div(data-speed = '15').parallax__layer.parallax__layer-3
    div(data-speed = '3').parallax__layer.parallax__layer-4
  .parallax__body
    .parallax__container.container
      .parallax__content
        h1.parallax__title.title Створіть свій мікроклімат з S-Clima
        span.parallax__desc Пропонуємо комплексний підхід до проєктування та встановлення систем вентиляції, кондиціонування та опалення для промислових та побутових об'єктів.
        .parallax__btn
          a(href='#').btn.btn_min Підібрати
  include _references
  .parallax__arrow.parallax__arrow_1
  .parallax__arrow.parallax__arrow_2

