section.partners
  .partners__body
    .partners__container.container
      .partners__slider.slider-partners
        .slider-partners__item
          a(href='#')
            +image('partners/01.png')
        .slider-partners__item
          a(href='#')
            +image('partners/02.png')
        .slider-partners__item
          a(href='#')
            +image('partners/03.png')
        .slider-partners__item
          a(href='#')
            +image('partners/04.png')
        .slider-partners__item
          a(href='#')
            +image('partners/02.png')
        .slider-partners__item
          a(href='#')
            +image('partners/01.png')
        .slider-partners__item
          a(href='#')
            +image('partners/03.png')


