section.partners.anim-item.anim-show-from-left.anim-no-hide
  .partners__body
    .partners__container.container
      .partners__slider.slider-partners
        .slider-partners__item
          p
            +image('partners/01.png')
        .slider-partners__item
          p
            +image('partners/02.png')
        .slider-partners__item
          p
            +image('partners/03.png')
        .slider-partners__item
          p
            +image('partners/04.png')
        .slider-partners__item
          p
            +image('partners/02.png')
        .slider-partners__item
          p
            +image('partners/01.png')
        .slider-partners__item
          p
            +image('partners/03.png')