section.parallax-page.parallax-container
  .parallax
    +image('header-parallax-scroll.jpg')
    .parallax-page__body
        .parallax-page__nav-info
          .parallax-page__container.container
            .parallax-page__breadcumps.breadcumps
              a(href='#')
                +icon('home')
              span /
              a(href='#').breadcumps__link Товари
              span /
              a(href='#').breadcumps__link Кондиціонери
            h1.parallax-page__title.title.title_page Кондиціонери



