section#pick-up.pick-up
  .pick-up__container.container
    h2.pick-up__title.title.title_black Підбір обладнання
    // OBJECT ITEM
    .pick-up__object.pick-up__object_right
      .pick-up__row.row
        .pick-up__column.column.column-lg-1-2
          .pick-up__photo
            +image('industry.jpg')
        .pick-up__column.column.column-lg-1-2
          .pick-up__content.content-pick-up
            h4.content-pick-up__title Промислові об'єкти
            p.content-pick-up__text Заклади харчування, виробництво, торгові чи складські приміщення та інші промислові приміщення, все це потребує якісної системи кондиціонування та опалення. Ви можете підібрати найоптимальніший варіант просто зараз.
            .content-pick-up__btn
              a(href='#').btn-main Підібрати
      // OBJECT ITEM
    .pick-up__object.pick-up__object_left
      .pick-up__row.row
        .pick-up__column.column.column-lg-1-2
          .pick-up__photo
            +image('household.jpg')
        .pick-up__column.column.column-lg-1-2
          .pick-up__content.content-pick-up
            h4.content-pick-up__title Побутові об'єкти
            p.content-pick-up__text Створіть сприятливий мікроклімат в квартирі чи приватному будинку правильно, підібравши системи кондиціонування та опалення за допомогою нашого спеціаліста просто зараз.
            .content-pick-up__btn
              a(href='#').btn-main Підібрати




