section#pick-up.pick-up
  .pick-up__container.container
    h2.pick-up__title.title.title_black.anim-item.anim-show-from-bottom.anim-no-hide Підбір обладнання
    // OBJECT ITEM
    .pick-up__object.pick-up__object_right
      .pick-up__row.row
        .pick-up__column.column.column-lg-1-2
          .pick-up__photo.anim-item.anim-show-from-left.anim-no-hide
            +image('industry.jpg')
        .pick-up__column.column.column-lg-1-2
          .pick-up__content.content-pick-up.anim-item.anim-show-from-right.anim-no-hide
            h4.content-pick-up__title Промислові об'єкти
            p.content-pick-up__text Заклади харчування, виробництво, торгові чи складські приміщення та інші промислові приміщення, все це потребує якісної системи кондиціонування та опалення. Ви можете підібрати найоптимальніший варіант просто зараз.
            .content-pick-up__btn
              a(href='#prom-pick-up').btn-main.modal-trigger Підібрати
      // OBJECT ITEM
    .pick-up__object.pick-up__object_left
      .pick-up__row.row
        .pick-up__column.column.column-lg-1-2
          .pick-up__photo.anim-item.anim-show-from-right.anim-no-hide
            +image('household.jpg')
        .pick-up__column.column.column-lg-1-2
          .pick-up__content.content-pick-up.anim-item.anim-show-from-left.anim-no-hide
            h4.content-pick-up__title Побутові об'єкти
            p.content-pick-up__text Створіть сприятливий мікроклімат в квартирі чи приватному будинку правильно, підібравши системи кондиціонування та опалення за допомогою нашого спеціаліста просто зараз.
            .content-pick-up__btn
              a(href='#pob-pick-up').btn-main.modal-trigger Підібрати


#prom-pick-up.modal
  .modal__container
    .prom-pick-up
      h4.prom-pick-up__title.title.title_black Підбір обладнання для проимслових об’єктів
      .modal-close
        +icon('close-modal')

#pob-pick-up.modal
  .modal__container
    .household-pick-up
      h4.prom-pick-up__title.title.title_black Підбір обладнання для побутових об’єктів
      .modal-close
        +icon('close-modal')









