section.posts
  .posts__container.container
    .posts__item.item-post
      .item-post__row.row
        .item-post__column.column.column-md-1-4
          .item-post__date.anim-item.anim-show-from-left.anim-no-hide
            span 18
            span Липня
            span 2020
        .item-post__column.column.column-md-3-4
          h2.item-post__title.anim-item.anim-show-from-right.anim-no-hide Як правильно підібрати осушувач повітря
          p.item-post__desc.anim-item.anim-show-from-right.anim-no-hide Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
          a(href='/single-post.html').item-post__more.link.anim-item.anim-show-from-right.anim-no-hide Читати далі

    .posts__item.item-post
      .item-post__row.row
        .item-post__column.column.column-md-1-4
          .item-post__date.anim-item.anim-show-from-left.anim-no-hide
            span 07
            span Травня
            span 2020
        .item-post__column.column.column-md-3-4
          h2.item-post__title.anim-item.anim-show-from-right.anim-no-hide Про вентиляційні системи
          p.anim-item.anim-show-from-right.anim-no-hide Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
          a(href='/single-post.html').item-post__more.link.anim-item.anim-show-from-right.anim-no-hide Читати далі

    .posts__item.item-post
      .item-post__row.row
        .item-post__column.column.column-md-1-4
          .item-post__date.anim-item.anim-show-from-left.anim-no-hide
            span 18
            span Липня
            span 2020
        .item-post__column.column.column-md-3-4
          h2.item-post__title.anim-item.anim-show-from-right.anim-no-hide Як правильно підібрати осушувач повітря
          p.anim-item.anim-show-from-right.anim-no-hide Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
          a(href='/single-post.html').item-post__more.link.anim-item.anim-show-from-right.anim-no-hide Читати далі

    .posts__item.item-post
      .item-post__row.row
        .item-post__column.column.column-md-1-4
          .item-post__date.anim-item.anim-show-from-left.anim-no-hide
            span 07
            span Травня
            span 2020
        .item-post__column.column.column-md-3-4
          h2.item-post__title.anim-item.anim-show-from-right.anim-no-hide Про вентиляційні системи
          p.anim-item.anim-show-from-right.anim-no-hide Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
          a(href='/single-post.html').item-post__more.link.anim-item.anim-show-from-right.anim-no-hide Читати далі

    .posts__item.item-post
      .item-post__row.row
        .item-post__column.column.column-md-1-4
          .item-post__date.anim-item.anim-show-from-left.anim-no-hide
            span 18
            span Липня
            span 2020
        .item-post__column.column.column-md-3-4
          h2.item-post__title.anim-item.anim-show-from-right.anim-no-hide Як правильно підібрати осушувач повітря
          p.anim-item.anim-show-from-right.anim-no-hide Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
          a(href='/single-post.html').item-post__more.link.anim-item.anim-show-from-right.anim-no-hide Читати далі

    ul.pagination.posts__pagination
      li.disabled
        a(href='#!')
          i.material-icons chevron_left
      li.active
        a(href='#!') 1
      li.waves-effect
        a(href='#!') 2
      li.waves-effect
        a(href='#!') 3
      li.waves-effect
        a(href='#!') 4
      li.waves-effect
        a(href='#!') 5
      li.waves-effect
        a(href='#!')
          i.material-icons chevron_right