section.single-post
  p Вентиляційні системи допомагають нам комфортно перебувати в приміщенні. Саме рівень комфорту залежить від якості та правильності встановлення вентиляції.
  h2.single-post__title Хороша вентиляційна система має декілька завдань:
  ol
    li Нормалізувати рівень вуглекислого газу, оскільки, він присутній завжди. А його надлишок чинить негативний вплив на організм. Тому завданням вентиляції  є безперервна циркуляція повітря.
    li Нормалізувати вологість повітря. Адже всім відомо, що надмірна вологість викликає безліч проблем, найпоширенішою, з яких є пліснява.
    li Фільтрація та очищення повітря знадвору. Особливо актуально в забруднених місцевостях.
  p Вид вентиляції напряму залежить від того, де саме її будуть встановлювати: чи це квартира, приватний будинок, офіс, виробниче приміщення, тощо. Також важливим фактором є площа та кількість людей, які одночасно перебуватимуть в приміщенні та, навіть, планування.
  p Опираючись на всі фактори спеціаліст визначає, який вид вентиляції підходить саме під ваші потреби.
  p
    +image('/articles/01.jpeg')
  h2.single-post__title Існує декілька видів вентиляції, які можна поділити за наступними параметрами:
  ol
    li За способом циркуляції повітря:
      ul
        li <strong>Природна</strong> — така вентиляційна система є в більшості житлових будинків. Цей вид не потребує примусової витяжки, обмін повітря здійснюється за допомогою перепаду тиску. Такий вид найчастіше зустрічається в старих будинках, де відсутня надмірна герметизація.
        li <strong>Примусова або ж механічна</strong> — це система, при якій повітря безперервно поступає в приміщення. Повітря циркулює за допомогою спеціального обладнання.Таку вентиляцію ставлять в нових квартирах та будинках, де передбачено встановлення вентиляційного обладнання.
    li За способом циркуляції повітря:
      ul
        li <strong>Приточна</strong> — забезпечує притік чистого повітря в приміщення знадвору.
        li <strong>Витяжна</strong> — навпаки, забирає з приміщення забруднене повітря.
        li <strong>Приточно-витяжнаяжна</strong> — поєднання двох систем, при якій одночасно здійснюється як притік повітря, так і відтік. Такі види вентиляції ідеально підходять для квартир та будинків понад 100 кв. м., офісних центрів, готелів та в місцях великого скупчення людей.
    li За місцем дії:
      ul
        li <strong>Місцева або локальна</strong> — призначена для подачі свіжого повітря в конкретне місце або ж навпаки відведення забрудненого повітря з конкретної локальної зони. Такий вид вентиляції, зазвичай, застосовується на виробництві.
        li <strong>Загальообмінна</strong> — на відміну від локальної, призначена для вентилювання всього приміщення.Також може бути як приточною, так і витяжною.
    li З додатковими параметрами:
      ul
        li <strong>З клімат-контролем</strong> — вид обладнання, яке може підігрівати або охолоджувати повітря, залежно від температури надворі.
        li <strong>З фільтрацією</strong> — очищує повітря, яке подає до приміщення.


