section.products
  .row
    .column.column-sm-1-2.column-md-1-3
      .products__card.card-product
        |ddded
    .column.column-sm-1-2.column-md-1-3
      .products__card.card-product
        |ddded
    .column.column-sm-1-2.column-md-1-3
      .products__card.card-product
        | ddded