section.references.anim-item.anim-show-from-bottom.anim-no-hide
  .references__container.container
    h2.references__title.title Наші переваги
    .references__row.row
      .references__column.column.column-sm-1-2.column-lg-1-3.column-lg-1-4
        .references__item
          .references__header
            .references__icon
              +icon('experience')
            .references__label
              span Досвід
          .references__desc
            span За плечима не один рік роботи, сотні успішно виконаних проєктів та задоволених клієнтів

      .references__column.column.column-sm-1-2.column-lg-1-3.column-lg-1-4
        .references__item
          .references__header
            .references__icon
              +icon('professionalizm')
            .references__label
              span Професіоналізм
          .references__desc
            span Працюємо з кращими в свої сфері проектантами, інженерами, монтажниками

      .references__column.column.column-sm-1-2.column-lg-1-3.column-lg-1-4
        .references__item
          .references__header
            .references__icon
              +icon('complex')
            .references__label
              span Комплексність
          .references__desc
            span Пропонуємо повний комплекс послуг, від розробки проєкту до запуску системи

      .references__column.column.column-sm-1-2.column-lg-1-3.column-lg-1-4
        .references__item
          .references__header
            .references__icon
              +icon('economy')
            .references__label
              span Економічність
          .references__desc
            span Підбираємо найоптимальніше обладнання під ваші потреби за принципом “ціна/якість”
