section.services
  .services__container.container
    h2.services__title.title.title_black Ми пропонуємо
    .services__row.row
      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services
          .card-services__icon
            +icon('serv-project')
          h4.card-services__title Виготовлення проєктів
          p.card-services__desc Індивідуальний підбір обладнання та його розташування відносно праметрів прищіення

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services
          .card-services__icon
            +icon('serv-serv')
          h4.card-services__title Сервіс обладнання
          p.card-services__desc За плечима не один рік роботи, сотні успішно виконаних проєктів та задоволених клієнтів

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services
          .card-services__icon
            +icon('serv-cond')
          h4.card-services__title Монтаж та продаж кондиціонерів
          p.card-services__desc За плечима не один рік роботи, сотні успішно виконаних проєктів та задоволених клієнтів

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services
          .card-services__icon
            +icon('serv-vent')
          h4.card-services__title Вентиляційні системи
          p.card-services__desc За плечима не один рік роботи, сотні успішно виконаних проєктів та задоволених клієнтів

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services
          .card-services__icon
            +icon('serv-temp')
          h4.card-services__title Системи опалення
          p.card-services__desc За плечима не один рік роботи, сотні успішно виконаних проєктів та задоволених клієнтів

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services
          .card-services__icon
            +icon('serv-dry-clean')
          h4.card-services__title Осушувачі, очищувачі повітря
          p.card-services__desc За плечима не один рік роботи, сотні успішно виконаних проєктів та задоволених клієнтів