section.services
  .services__container.container
    h2.services__title.title.title_black.anim-item.anim-show-from-bottom.anim-no-hide Ми пропонуємо
    .services__row.row
      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services.anim-item.anim-show-from-bottom.anim-no-hide
          .card-services__icon
            +icon('serv-project')
          .card-services__title
            h4 Виготовлення проєктів
          p.card-services__desc Розробляємо проєкти любої складності конкретно під ваш об’єкт та вимоги.

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services.anim-item.anim-show-from-bottom.anim-no-hide
          .card-services__icon
            +icon('serv-serv')
          .card-services__title
            h4 Сервіс обладнання
          p.card-services__desc Забезпечуємо сервісне обслуговування для широкого спектру кліматичного обладнання.

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services.anim-item.anim-show-from-bottom.anim-no-hide
          .card-services__icon
            +icon('serv-cond')
          .card-services__title
            h4 Монтаж та продаж кондиціонерів
          p.card-services__desc Підбираємо кондиціонери під потрібні параметри та гарантуємо якісне встановлення.

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services.anim-item.anim-show-from-bottom.anim-no-hide
          .card-services__icon
            +icon('serv-vent')
          .card-services__title
            h4 Вентиляційні системи
          p.card-services__desc Великий вибір обладнання, яке підбираємо та встановлюємо згідно ваших вимог.

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services.anim-item.anim-show-from-bottom.anim-no-hide
          .card-services__icon
            +icon('serv-temp')
          .card-services__title
            h4 Системи опалення
          p.card-services__desc Монтаж, встановлення та підключення всіх видів котлів, радіаторів, теплових насосів.

      .services__column.column.column-md-1-2.column-xl-1-3
        .services__card.card-services.anim-item.anim-show-from-bottom.anim-no-hide
          .card-services__icon
            +icon('serv-dry-clean')
          .card-services__title
            h4 Осушувачі, очищувачі повітря
          p.card-services__desc Широкий асортимент та безкоштовний підбір якісного обладнання.