aside.works.sidebar
  .works__close-btn.sidebar__close-btn
    +icon('filter-close')
  .project-list
    h4.project-list__title Наші проєкти
    ul
      li
        .project-list__item
          .drop-icon
          span 2020 рік
        ul
          li
            a(href="") Ресторан "Кухонька"
          li
            a(href="") Заклад "ПромБар"
          li
            a(href="") Резиденція Потоцьких
      li
        .project-list__item
          .drop-icon
          span 2019 рік
        ul
          li
            a(href="") ТЦ "Арсен"
          li
            a(href="") Заправка "ОККО"
          li
            a(href="") Піцерія Azteca

.sidebar-overlay
