aside.filter.sidebar
  .filter__close-btn.sidebar__close-btn
    +icon('filter-close')
  h3.filter__main-title.title.title_black Фільтр
  .filter__section
    h4.filter__title Розрахунок потужності
    form.power-calc
      .input-field
        input(id='square' type="number" class="validate"  step='.1').square
        label(for="square") Площа приміщення (м2)
      .input-field
        input(id='height' type="number" step='.1' class="validate").height
        label(for="height") Висота приміщення (м)
      .input-field
        select(name='sun-light')#sun-light.sun-light
          option(value="" disabled selected) Сонячне освітлення приміщення
          option(value= 1) Слабке
          option(value= 2) Середнє
          option(value= 3) Високе
      .filter__btn
        button(type='button').calc-power.btn-main.btn-main_min Розрахувати
      .input-field.input-field_inline
        input(id='power' type="number" step='.1' class="validate").power
        label(for="power") кВт
  .filter__section
    h4.filter__title Ціновий діапазон (грн)
    form
      .input-field.input-field_inline
        input(id='price-from' type="number" class="validate")
        label(for="price-from") Від
      .input-field.input-field_inline
        input(id='price-to' type="number" class="validate")
        label(for="price-to") До
    // Range slider DIV
    #price-range
  .filter__section
    h4.filter__title Бренд
    form
      p
        label
          input(type="checkbox")
          span Electrolux
      p
        label
          input(type="checkbox")
          span LG
      p
        label
          input(type="checkbox")
          span Mitsubishi Electric
      p
        label
          input(type="checkbox")
          span Samsung
  .filter__section
    h4.filter__title Тип
    form
      p
        label
          input(type="checkbox")
          span Настінний
      p
        label
          input(type="checkbox")
          span Касетнний
      p
        label
          input(type="checkbox")
          span Канальний
      p
        label
          input(type="checkbox")
          span Підлогово-стельовий
  .filter__section
    h4.filter__title Компресор
    form
      p
        label
          input(type="checkbox")
          span Інверторний
      p
        label
          input(type="checkbox")
          span Роторний

#filter-overlay.sidebar-overlay