.sidebar
  .sidebar__section
    h4.sidebar__title Розрахунок потужності
    form
      .input-field
        input(id='square' type="number" class="validate" step='.1')
        label(for="square") Площа приміщення (м2)
      .input-field
        input(id='height' type="number" step='.1' class="validate")
        label(for="height") Висота приміщення (м)
      .input-field
        select
          option(value="" disabled selected) Сонячне освітлення приміщення
          option(value='1') Слабке
          option(value='2') Середнє
          option(value='3') Високе
      .sidebar__calculate
        .sidebar__btn
          a(href='#').btn-main.btn-main_min Розрахувати
        .input-field
          input(id='power' type="number" step='.1' class="validate" value='3.5')
          label(for="power") кВт
  .sidebar__section
    h4.sidebar__title Ціновий діапазон (грн)
    form
      .input-field.input-field_inline
        input(id='price-from' type="text" class="validate")
        label(for="price-from") Від
      .input-field.input-field_inline
        input(id='price-to' type="text" class="validate")
        label(for="price-to") До
    #price-range
  .sidebar__section
    h4.sidebar__title Бренд
    form
      p
        label
          input(type="checkbox")
          span Electrolux
      p
        label
          input(type="checkbox")
          span LG
      p
        label
          input(type="checkbox")
          span Mitsubishi Electric
      p
        label
          input(type="checkbox")
          span Samsung
  .sidebar__section
    h4.sidebar__title Тип
    form
      p
        label
          input(type="checkbox")
          span Настінний
      p
        label
          input(type="checkbox")
          span Касетнний
      p
        label
          input(type="checkbox")
          span Канальний
      p
        label
          input(type="checkbox")
          span Підлогово-стельовий
  .sidebar__section
    h4.sidebar__title Компресор
    form
      p
        label
          input(type="checkbox")
          span Інверторний
      p
        label
          input(type="checkbox")
          span Роторний