section(data-da="single-post,last,992,max").post-aside
  h4.post-aside__title Останні статті

  .post-aside__row.row
    .post-aside__column.column.column-sm-1-2
      .post-aside__arcticle.article-post-aside
        .article-post-aside__date
          span 25 травня 2020
        h6.article-post-aside__title Як павильно підібрати осушувач повітря
        p.article-post-aside__desc Вид вентиляції напряму залежить від того, де саме її будуть встановлювати: чи це квартира, приватний будинок
        a(href='/single-post.html').article-post-aside__link.link Читати далі

    .post-aside__column.column.column-sm-1-2
      .post-aside__arcticle.article-post-aside
        .article-post-aside__date
          span 25 травня 2020
        h6.article-post-aside__title Як павильно підібрати осушувач повітря
        p.article-post-aside__desc Вид вентиляції напряму залежить від того, де саме її будуть встановлювати: чи це квартира, приватний будинок
        a(href='/single-post.html').article-post-aside__link.link Читати далі

    .post-aside__column.column.column-sm-1-2
      .post-aside__arcticle.article-post-aside
        .article-post-aside__date
          span 25 травня 2020
        h6.article-post-aside__title Як павильно підібрати осушувач повітря
        p.article-post-aside__desc Вид вентиляції напряму залежить від того, де саме її будуть встановлювати: чи це квартира, приватний будинок
        a(href='/single-post.html').article-post-aside__link.link Читати далі

    .post-aside__column.column.column-sm-1-2
      .post-aside__arcticle.article-post-aside
        .article-post-aside__date
          span 25 травня 2020
        h6.article-post-aside__title Як павильно підібрати осушувач повітря
        p.article-post-aside__desc Вид вентиляції напряму залежить від того, де саме її будуть встановлювати: чи це квартира, приватний будинок
        a(href='/single-post.html').article-post-aside__link.link Читати далі

