.sidebar
  h4.sidebar__title Розрахунок потужності
  .input-field
    input(id='square' type="text" class="validate")
    label(for="square") Площа приміщення (м2)
  .input-field
    input(id='height' type="text" class="validate")
    label(for="height") Висота приміщення (м)
  .input-field
    select
      option(value="" disabled selected) Оберіть опцію
      option(value='1') Слабке
      option(value='2') Середнє
      option(value='3') Високе
    label Сонячне освітлення приміщення



