section.works
  .works__container.container
    h2.works__title.title.title_black Готові роботи
    .works__slider.slider-works
      .slider-works__item
        .works__item
          +image('works/2019/prombar/1.jpg')
          .works__info
            span.works__date 2020 рік
            span.works__name Резиденція Потоцьких
            a(href='#').works__btn.btn-main.btn-main_min Перейти
      .slider-works__item
        .works__item
          +image('works/2019/prombar/2.jpg')
          .works__info
            span.works__date 2020 рік
            span.works__name Резиденція Потоцьких
            a(href='#').works__btn.btn-main.btn-main_min Перейти
      .slider-works__item
        .works__item
          +image('works/2019/prombar/3.jpg')
          .works__info
            span.works__date 2020 рік
            span.works__name Резиденція Потоцьких
            a(href='#').works__btn.btn-main.btn-main_min Перейти
      .slider-works__item
        .works__item
          +image('works/2019/prombar/4.jpg')
          .works__info
            span.works__date 2020 рік
            span.works__name Резиденція Потоцьких
            a(href='#').works__btn.btn-main.btn-main_min Перейти
      .slider-works__item
        .works__item
          +image('works/2019/prombar/5.jpg')
          .works__info
            span.works__date 2020 рік
            span.works__name Резиденція Потоцьких
            a(href='#').works__btn.btn-main.btn-main_min Перейти

    .works__link
      a(href='#').link Переглянути всі
