section.work
  .work__btn.sidebar-btn
    +icon('project-btn')
    |Наші проєкти
  h2.work__title Заклад ПромБар
  p.work__desc Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.  Значимость этих проблем настолько очевидна, что постоянный рост
  .work__sort
    ul
      li
        a(href='#').active Всі
      li
        a(href='#') Фото
      li
        a(href='#') Відео
  .work__

