section.work
  .work__btn.sidebar-btn
    +icon('project-btn')
    |Наші проєкти
  h2.work__title Заклад ПромБар
  p.work__desc Значимость этих проблем настолько очевидна, что консультация с широким активом в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.  Значимость этих проблем настолько очевидна, что постоянный рост
  .work__sort
    ul
      li
        a(href='#' data-filter = 'all').active Всі
      li
        a(href='#' data-filter = 'image') Фото
      li
        a(href='#' data-filter = 'video') Відео
  .work__gallery.gallery-work.popup-gallery
    .work__row.row
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/1.jpg').image
            +image('works/2019/prombar/1.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/2.jpg').image
            +image('works/2019/prombar/2.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/3.jpg').image
            +image('works/2019/prombar/3.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/4.jpg' title="Some Text for the image").image
            +image('works/2019/prombar/4.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='https://www.youtube.com/watch?v=pU0RAQWM4SI').video
            iframe(type="text/html" width="auto" height='100%' autoplay=1 src="https://www.youtube.com/embed/pU0RAQWM4SI")
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/1.jpg').image
            +image('works/2019/prombar/1.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='https://www.youtube.com/watch?v=crBuCEthLJw').video
            iframe(type="text/html" width="auto" height='100%' autoplay=1 src="https://www.youtube.com/embed/crBuCEthLJw")
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/3.jpg').image
            +image('works/2019/prombar/3.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/4.jpg').image
            +image('works/2019/prombar/4.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/5.jpg').image
            +image('works/2019/prombar/5.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='img/works/2019/prombar/1.jpg').image
            +image('works/2019/prombar/1.jpg')
            div
              +icon('work-zoom')
      .work__column.column.column-lg-1-3.column-sm-1-2
        .gallery-work__item
          a(href='https://www.youtube.com/watch?v=zDLwdT80k_8').video
            iframe(type="text/html" width="auto" height='100%' autoplay=1 src="https://www.youtube.com/embed/zDLwdT80k_8")
            div
              +icon('work-zoom')










