section.works
  .works__container.container
    h2.works__title.title.title_black Готові роботи
    .works__slider.slider-works.popup-gallery
      .slider-works__item
        a(href='img/works/2019/prombar/1.jpg')
          +image('works/2019/prombar/1.jpg')
      .slider-works__item
        a(href='img/works/2019/prombar/2.jpg')
          +image('works/2019/prombar/2.jpg')
      .slider-works__item
        a(href='img/works/2019/prombar/3.jpg')
          +image('works/2019/prombar/3.jpg')
      .slider-works__item
        a(href='img/works/2019/prombar/4.jpg')
          +image('works/2019/prombar/4.jpg')
      .slider-works__item
        a(href='img/works/2019/prombar/5.jpg')
          +image('works/2019/prombar/5.jpg')

    .works__link
      a(href='#').link Переглянути всі
