include particles/_mixins
include particles/_head
body
  .wrapper
    include particles/_header
    include  particles/_parallax
    //section.page
    //  |Content
    include particles/_services
    include particles/_pick-up
    include particles/_banners
    include particles/_comments


    include particles/_footer
  script(src='js/vendors.js')
  script(src='js/app.min.js')