include particles/_mixins
include particles/_head
body
  .wrapper
    include particles/_header
    main.page


    include particles/_footer
  script(src='js/vendors.js')
  script(src='js/app.min.js')