include particles/_mixins
include particles/_head
body
  .wrapper
    include particles/_cart
    include particles/_header
    include particles/_parallax-page-post
    section.page
      .page__container.container
        .page__row.row
          .page__column.column.column-lg-1-4
            include particles/_sidebar-page-post
          .page__column.column.column-lg-3-4
            include particles/_post
    include particles/_footer
  script(src='js/vendors.js')
  script(src='js/app.min.js')