.header-main
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 4
  transition: background-color .3s ease-out
  &__container
    overflow: hidden
  &_scroll
    background-color: #4C79C3
  &__body
    display: flex
    align-items: center
    height: 50px
    +breakpoint(sm)
      height: 80px

  &__logo
    margin: 0 35px 0 0
    +breakpoint(sm)
      margin: 0 70px 0 0
    +breakpoint(lg)
      margin: 0 40px 0 0
    +breakpoint(xl)
      margin: 0 90px 0 0
    .logo-full
      display: none
      visibility: hidden
      +breakpoint(420)
        display: inline-block
        visibility: visible
    .logo-min
      +breakpoint(420)
        display: none
        visibility: hidden
    img
      max-height: 24px
      +breakpoint(sm)
        max-height: 35px

  &__contacts
    display: flex
    align-items: center
    margin: 0 auto 0 0
    +breakpoint(lg)
      margin: 0 40px 0 0
    svg
      fill: #ffffff
      margin: 0 10px 0 0
      +breakpoint(sm)
        margin: 0 15px 0 0

  &__phones
    display: flex
    flex-direction: column
    a
      font-size: 12px
      line-height: 18px
      white-space: nowrap
      &:hover
        color: #7EB5F9
      +breakpoint(sm)
        font-size: 14px
        line-height: 22px

  &__cart
    position: relative
    margin: 0 35px 0 0
    +breakpoint(lg)
      margin: 0
    svg
      fill: #ffffff
    span
      display: none
      &.active
        position: absolute
        font-size: 10px
        color: #ffffff
        top: -3px
        display: flex
        align-items: center
        justify-content: center
        right: -10px
        width: 17px
        height: 17px
        background-color: #D11586
        border-radius: 50%
        line-height: 15px
  a
    transition: color .1s ease-out

  .burger-menu
    justify-self: end
    z-index: 7
