// Typografy -------
html
  font-size: $font-size
body
  font-family: $font-family, sans-serif
  color: #8c8c8c

  &.lock
    overflow: hidden
// Typografy end ---

// main position with header-page-footer
.wrapper
  display: flex
  flex-direction: column
  min-height: 100vh
.page
  flex: 1 1 auto
  margin: 0 0 55px 0
  +breakpoint(md)
    margin: 0 0 70px 0
  +breakpoint(lg)
    margin: 0 0 100px 0
  &__row
    margin: 0 -10px
    +breakpoint(md)
      margin: 0 -15px
  &__column
    padding: 0 10px
    +breakpoint(md)
      padding: 0 15px

  //padding: 75px 0 0 0
//end-

//vertical margin
.m-b
  margin: 0 0 $v-step-small 0
  +breakpoint(md)
    margin: 0 0 $v-step-medium 0
  +breakpoint(lg)
    margin: 0 0 $v-step-large 0
//end

// MODAL WINDOWS


// Toast custom styles
.toast-error
  background-color: #f44336
//END Toast custom styles


//modal windows
.modal
  width: 100%
  max-width: 800px
  max-height: 90%
  padding: 50px 10px
  &__container
    position: relative
    width: 100%
  .title
    font-size: 26px
    line-height: 30px
    margin: 0 0 50px 0
    &:before
      width: 4px
      background-color: #D11586
  +breakpoint(sm)
    padding: 50px 20px
  +breakpoint(md)
    padding: 50px
  &-close
    position: absolute
    top: 0
    right: 0
    cursor: pointer
    transition: all .1s ease-out
    &:active
      transform: scale(.8)
//End modal windows

// Animations group classes
.anim-show
  opacity: 0
  transition: opacity .5s ease-out 0s
  &.active,
  .active.anim-show
    opacity: 1

.anim-show-from-right
  transform: translateX(100px)
  opacity: 0
  transition: all .5s ease-out 0.2s
  &.active,
  .active.anim-show-from-right
    opacity: 1
    transform: translateX(0)

.anim-show-from-left
  transform: translateX(-100px)
  opacity: 0
  transition: all .5s ease-out 0s
  &.active,
  .active.anim-show-from-left
    opacity: 1
    transform: translateX(0)

.anim-show-from-top
  transform: translateY(-100px)
  opacity: 0
  transition: all .5s ease-out 0s
  &.active,
  .active.anim-show-from-right
    opacity: 1
    transform: translateY(0)

.anim-show-from-bottom
  opacity: 0
  transform: translateY(100px)
  transition: all .5s ease-out 0s
  &.active,
  .active.anim-show-from-right
    opacity: 1
    transform: translateY(0)
  &_2
    transition: all .5s ease-out 0.1s
  &_3
    transition: all .5s ease-out 0.2s
  &_4
    transition: all .5s ease-out 0.3s

//

//
//

//
//

//
//
