.pick-up
  margin: 0 0 20px 0
  +breakpoint(md)
    margin: 0 0 40px 0
  +breakpoint(lg)
    margin: 0 0 70px 0
    overflow: hidden
  &__object
    overflow-x: hidden
    position: relative
    margin: 0 0 35px 0
    +breakpoint(md)
      overflow: hidden
      margin: 0 0 30px 0
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 1
    +breakpoint(lg)
      overflow: visible
      padding: 0
      &:before
        display: none
      &:not(:last-child)
        margin: 0 0 55px 0
    &_right
      .pick-up__content
        +breakpoint(lg)
          margin: 0 0 0 120px
    &_left
      .pick-up__content
        +breakpoint(lg)
          margin: 0 120px 0 0
      .row
        +breakpoint(lg)
          flex-direction: row-reverse
  &__column
    +breakpoint(lg)
      align-self: center
  &__photo
    position: relative
    margin: 0 0 20px 0
    +breakpoint(md)
      position: absolute
      z-index: -1
      margin: 0
      object-fit: cover
      height: 100%
      width: 100%
    +breakpoint(lg)
      position: relative
      &:before
        content: ''
        position: absolute
        top: -5%
        left: 0
        height: 110%
        width: 100%
        background-color: rgba(18, 110, 185, 0.1)
        transform: skew(-.312rad)
        z-index: -1
    img
      width: 100%
  &__content
    overflow-x: hidden




.content-pick-up
  position: relative
  z-index: 2
  display: flex
  flex-direction: column
  +breakpoint(md)
    padding: 45px
  +breakpoint(lg)
    padding: 0
  &__title
    font-size: 20px
    line-height: 28px
    color: #2C2C2C
    font-weight: 700
    margin: 0 0 15px 0
    +breakpoint(md)
      font-size: 26px
      line-height: 30px
      color: #ffffff
      margin: 0 0 20px 0
    +breakpoint(lg)
      color: #2C2C2C
  &__text
    font-size: 16px
    line-height: 28px
    margin: 0 0 20px 0
    +breakpoint(md)
      font-size: 18px
      line-height: 30px
      color: #ffffff
      margin: 0 0 30px 0
    +breakpoint(lg)
      color: #8C8C8C


.prom-pick-up


.form
  .column
    margin: 0 0 35px 0
    &:last-child
      margin: 0
  &__title
    display: flex
    justify-content: center
    background: rgba(0, 0, 0, 0.03)
    padding: 14px
    position: relative
    > span
      margin: 0 5px 0 0
  &__details
    display: flex
    height: 100%
    align-items: center
    span
      line-height: 25px
      margin: 0 10px 0 0
      a
        letter-spacing: unset
        font-size: 18px
  &__calculate-btn
    text-transform: uppercase
    color: #126EB9
    font-size: 14px
    line-height: 20px
    font-weight: 700
    padding: 12px 15px
    border: 2px solid #126EB9
    background-color: transparent
    margin: 0 25px 0 0
    transition: tranform .2s ease-out
    &:focus
      background-color: transparent
    &:active
      transform: scale(.97)

  &__remove-btn
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    cursor: pointer

  &__icon-add
    background: rgba(18, 110, 185, 0.5)
    display: flex
    align-items: center
    justify-content: center
    width: 34px
    height: 34px
    border-radius: 50%
    margin: 0 auto
    cursor: pointer
    transition: all .1s ease-out
    &:hover
      transform: scale(1.1)

  &__btn-submit
    display: flex
    justify-content: center
    button
      margin: 15px 0 0 0
      background-color: #126EB9
      font-size: 14px
      line-height: 25px
      font-weight: 900
      letter-spacing: 0.16em
      color: #ffffff
      text-transform: uppercase
      padding: 18px 23px
      transition: tranform .2s ease-out
      &:active
        transform: scale(.97)
  input[type='number']::-webkit-inner-spin-button,
  input[type='bumber']::-webkit-outer-spin-button
    appearance: none
    -webkit-appearance: none
    margin: 0

  &__info-text
    max-width: 95%
    color: #126EB9
    font-size: 18px
    line-height: 27px
