.sidebar
  position: fixed
  display: flex
  flex-direction: column
  background-color: #ffffff
  padding: 45px 10px
  top: 20px
  left: -120%
  bottom: 20px
  overflow: auto
  overflow-x: hidden
  min-width: 330px
  max-width: 330px
  z-index: 5
  transition: left .3s ease-out
  &.active
    left: 0
    .sidebar__close-btn
      display: block
  +breakpoint(md)
    padding: 45px 30px
    min-width: 350px
    max-width: 350px
  +breakpoint(lg)
    overflow: unset
    padding: 0
    background: none
    position: static
    min-width: auto

  &__close-btn
    display: none
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    z-index: 4


.sidebar-overlay
  position: fixed
  display: none
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(63, 63, 63, 0.56)
  z-index: 4
  &.active
    display: block






