// Slider
.slick-slider
  min-width: 0
  //position: relative
// Bounding shell
.slick-list
  overflow: hidden
// Tape slide
.slick-track
  display: flex
  align-items: flex-start
// Slide
.slick-slide
  text-align: center
  +breakpoint(md)
    margin: 0 15px
// Active slide
.slick-slide.slick-active
// Main slide
.slick-slide.slick-current
// Centered slide
.slick-slide.slick-center
// Arrow
.slick-arrow
// Arrow prev
.slick-arrow.slick-prev
// Arrow next
.slick-arrow.slick-next
// Disabled arrow
.slick-arrow.slick-disabled
// Dots
.slick-dots
  li
  button





// Comments slider styles
.slider-comments
  position: relative
  .slick-arrow
    position: absolute
    top: 50%
    z-index: 1
    font-size: 0

  .slick-prev
    top: unset
    bottom: 0
    left: 50%
    width: 18px
    height: 35px
    background: url('../img/icons/icons.svg#slide-prev') no-repeat -8px
    background-size: 35px 52px
    transform: translateY(190%) translateX(-200%)
    +breakpoint(md)
      top: 50%
      left: 10px
      transform: none

  .slick-next
    top: unset
    right: 50%
    width: 18px
    height: 35px
    bottom: 0
    background: url('../img/icons/icons.svg#slide-next') no-repeat -8px
    background-size: 35px 52px
    transform: translateY(190%) translateX(200%)
    +breakpoint(md)
      top: 50%
      right: 10px
      transform: none
//=========================================================

// Banners slider
.slider-banners
  position: relative
  .slick-slide
    +breakpoint(md)
      margin: 0

  img
    width: 100%
  .slick-arrow
    position: absolute
    top: 50%
    z-index: 1
    font-size: 0
    transform: translateY(-50%)

  .slick-prev
    bottom: 0
    left: 10px
    width: 18px
    height: 35px
    background: url('../img/icons/icons.svg#slide-prev') no-repeat -8px
    background-size: 35px 52px

  .slick-next
    right: 10px
    width: 18px
    height: 35px
    bottom: 0
    background: url('../img/icons/icons.svg#slide-next') no-repeat -8px
    background-size: 35px 52px
// end banners slider


// Works slider
.slider-works
  position: relative
  +breakpoint(md)
    margin: 0
  .slick-list
    margin: 0 -10px
    +breakpoint(md)
      margin: 0 -15px
  .slick-slide
    margin: 0 10px
    +breakpoint(md)
      margin: 0 15px


  img
    min-width: 100%
    max-height: 200px
    object-fit: cover
    height: 100%
    +breakpoint(sm)
      max-height: 250px
  &__item
    overflow: hidden

  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 0
    width: 32px
    height: 32px
    background: none
    z-index: 2
    +breakpoint(md)
      top: -100px + 22.5px - 16px
      transform: translateY(0)
      border: 2px solid #126EB9

  .slick-prev
    left: 0
    background: url("../img/work-arrow-prev-light.svg") no-repeat center center
    background-size: contain
    +breakpoint(md)
      background: url("../img/work-arrow-prev-dark.svg") no-repeat 7px 5px
      left: unset
      right: 52px
      &:active
        background: url("../img/work-arrow-prev-light.svg") no-repeat 7px 5px #126EB9

  .slick-next
    right: 0
    background: url("../img/work-arrow-next-light.svg") no-repeat center center
    background-size: contain
    +breakpoint(md)
      background: url("../img/work-arrow-next-dark.svg") no-repeat 9px 5px
      &:active
        background: url("../img/work-arrow-next-light.svg") no-repeat 9px 5px #126EB9

// end Works slider


// Articles slider
.slider-articles
  margin: 0 0 52px 0
  position: relative
  +breakpoint(md)
    margin: 0

  .slick-list
    margin: 0 -10px
    +breakpoint(md)
      margin: 0 -15px

  .slick-slide
    margin: 0 10px
    +breakpoint(md)
      margin: 0 15px

  img
    min-width: 100%
    max-height: 200px
    object-fit: cover
    height: 100%
    +breakpoint(sm)
      max-height: 250px
  &__item
    padding: 10px 0
  .slick-track

  .slick-arrow
    position: absolute
    bottom: -52px
    font-size: 0
    width: 32px
    height: 32px
    background: none
    z-index: 2
    border: 2px solid #126EB9
    +breakpoint(md)
      top: -100px + 22.5px - 16px
      bottom: unset

  .slick-prev
    left: 50%
    transform: translateX(calc(-100% - 10px))
    background: url("../img/work-arrow-prev-dark.svg") no-repeat 7px 5px
    &:active
      background: url("../img/work-arrow-prev-light.svg") no-repeat 7px 5px #126EB9
    +breakpoint(md)
      transform: translateX(0)
      left: unset
      right: 52px

  .slick-next
    right: 50%
    transform: translateX(calc(100% + 10px))
    background: url("../img/work-arrow-next-dark.svg") no-repeat 9px 5px
    &:active
      background: url("../img/work-arrow-next-light.svg") no-repeat 9px 5px #126EB9
    +breakpoint(md)
      transform: translateX(0)
      right: 0


// end Articles slider


// Achievements slider
.slider-achive
  margin: 0 0 52px 0
  position: relative
  +breakpoint(md)
    margin: 0

  .slick-list
    margin: 0 -10px
    +breakpoint(md)
      margin: 0 -15px

  .slick-slide
    margin: 0 10px
    +breakpoint(md)
      margin: 0 15px
  img
    min-width: 100%
    width: 100%
    max-height: 200px
    object-fit: cover
    height: 100%
    +breakpoint(sm)
      max-height: 200px
  &__item
    padding: 10px 0
  .slick-track

  .slick-arrow
    position: absolute
    bottom: -52px
    font-size: 0
    width: 32px
    height: 32px
    background: none
    z-index: 2
    border: 2px solid #126EB9
    +breakpoint(md)
      top: -100px + 22.5px - 16px
      bottom: unset

  .slick-prev
    left: 50%
    transform: translateX(calc(-100% - 10px))
    background: url("../img/work-arrow-prev-dark.svg") no-repeat 7px 5px
    &:active
      background: url("../img/work-arrow-prev-light.svg") no-repeat 7px 5px #126EB9
    +breakpoint(md)
      transform: translateX(0)
      left: unset
      right: 52px

  .slick-next
    right: 50%
    transform: translateX(calc(100% + 10px))
    background: url("../img/work-arrow-next-dark.svg") no-repeat 9px 5px
    &:active
      background: url("../img/work-arrow-next-light.svg") no-repeat 9px 5px #126EB9
    +breakpoint(md)
      transform: translateX(0)
      right: 0

// end Achievements slider



// Partners slider
.slider-partners
  .slick-list
    margin: 0 -10px
    +breakpoint(md)
      margin: 0 -15px
    +breakpoint(lg)
      margin: 0 -30px

  .slick-slide
    margin: 0 10px
    max-height: 110px
    +breakpoint(md)
      margin: 0 15px
    +breakpoint(lg)
      margin: 0 30px

  a
    display: block
    position: relative
    height: auto
    filter: opacity(50%) grayscale(100%)
    transition: all 0.5s ease 0s
    &:hover
      filter: opacity(100%) grayscale(0)

  img
    max-width: 100%
    max-height: 100%

  &__item

  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 0
    width: 32px
    height: 32px
    background: none
    z-index: 2


  .slick-prev
    left: 10px
    background: url("../img/work-arrow-prev-dark.svg") no-repeat center center
    background-size: contain
    &:active
      background: url("../img/work-arrow-prev-light.svg") no-repeat center center

  .slick-next
    right: 10px
    background: url("../img/work-arrow-next-dark.svg") no-repeat center center
    background-size: contain
    &:active
      background: url("../img/work-arrow-next-light.svg") no-repeat center center
// end Partners slider





// slider card product
.slider-card-product
  height: 260px
  overflow: hidden
  +breakpoint(md)
    height: 200px
  +breakpoint(lg)
    height: 230px
  .slick-list
    margin: 0 -10px
    overflow: unset
    height: 100%
    +breakpoint(md)
      margin: 0 -15px
    +breakpoint(lg)
      margin: 0 -30px
  .slick-track
    align-items: center
    height: 100%

  .slick-slide
    margin: 0 10px
    +breakpoint(md)
      margin: 0 15px
    +breakpoint(lg)
      margin: 0 30px

  a
    display: block

    &:hover
      cursor: zoom-in


  img
    width: 100%


  &__item

// end slider card product