// Slider
.slick-slider
// Bounding shell
.slick-list
  overflow: hidden
// Tape slide
.slick-track
  display: flex
  align-items: flex-start
// Slide
.slick-slide
  text-align: center
  +breakpoint(md)
    margin: 0 15px
// Active slide
.slick-slide.slick-active
// Main slide
.slick-slide.slick-current
// Centered slide
.slick-slide.slick-center
// Arrow
.slick-arrow
// Arrow prev
.slick-arrow.slick-prev
// Arrow next
.slick-arrow.slick-next
// Disabled arrow
.slick-arrow.slick-disabled
// Dots
.slick-dots
  li
  button




// Team slider styles

//=========================================================

