//My custom burger menu style style========================================
.burger-menu
  position: relative
  display: flex
  width: 22px
  height: 18px
  +breakpoint(md)
    width: 32px
    height: 25px
  &:before, &:after
    content: ''
    position: absolute
    background-color: #FFFFFF
    height: 2px
    width: 16px
    left: calc(50% - 8px)
    transition: all 0.3s ease-out
    +breakpoint(md)
      width: 26px
      left: calc(50% - 13px)
  &:before
    top: 0
  &:after
    bottom: 0
  span
    position: absolute
    top: calc(50% - 1px)
    height: 2px
    width: 100%
    background-color: #ffffff
    transition: transform 0.1s ease-out
  &.active
    &:before
      transform: rotate(45deg)
      top: 50%
      width: 100%
      left: 0
    &:after
      transform: rotate(-45deg)
      top: 50%
      width: 100%
      left: 0
    span
      transform: scale(0)
  +breakpoint(lg)
    display: none


.menu
  position: fixed
  right: -100%
  width: calc(100% - 50px)
  top: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  backdrop-filter: blur(15px)
  transition: right 0.3s ease-out
  padding: 70px 20px 20px 20px
  z-index: 1
  overflow: auto
  +breakpoint(md)
    width: calc(100% - 100px)
  +breakpoint(lg)
    position: static
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%
    background: none
    backdrop-filter: none
    padding: 0
  >ul
    +breakpoint(lg)
      display: flex
    .has-submenu
      ul
        overflow: hidden
        //max-height generating via JavaScript
        transition: max-height 0.3s ease-out
        padding: 0 0 0 10px 0
        +breakpoint(lg)
          background-color: rgba(255, 255, 255, 0.8)
          position: absolute
          display: block
          padding: 0 20px
        a
          font-size: 14px
          +breakpoint(lg)
            color: #0066BA
            font-weight: 500
            &:hover
              color: #7EB5F9
        > li
          &:first-child
            a
              +breakpoint(lg)
                margin-top: 15px
          &:last-child
            a
              +breakpoint(lg)
                margin-bottom: 15px
      >a
        user-select: none
        display: flex
        align-items: center
        &:after
          content: ''
          display: inline-block
          width: 0
          height: 0
          border-top: 8px solid #ffffff
          border-right: 6px solid transparent
          border-left: 6px solid transparent
          margin: 0 0 0 7px
          transition: transform .3s ease-out
          transform: rotate(0)
        &:hover
          color: #ffffff
      &.closed
        ul
          margin: 0
        >a
          &:after
            transform: rotate(90deg)
    >li
      +breakpoint(lg)
        margin: 0 25px 0 0
      >a
        &:hover
          color: #7EB5F9



  a
    display: inline-block
    font-weight: 700
    font-size: 16px
    line-height: 19px
    color: #ffffff
    text-transform: uppercase
    padding: 15px 0
    &.active
      color: #7EB5F9


  &.active
    right: 0

//===================================================================



// Images like a BG
.ibg
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  position: relative
  img
    width: 0
    height: 0
    position: absolute
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
//-----end

// Custom link style

.link
  text-decoration: none
  font-size: 16px
  font-weight: 700
  line-height: em(25px, 16px)
  color: #D11586
  letter-spacing: 0.16em
  position: relative
  display: inline-block
  &:after
    content: ''
    position: absolute
    bottom: -4px
    left: 0
    width: 100%
    height: 2px
    background-color: #D11586

  &_2
    letter-spacing: normal
    color: #ffffff
    &:after
      display: none


//-----------------------------------------