.works
  margin: 0 0 55px 0
  +breakpoint(md)
    margin: 0 0 70px 0
  +breakpoint(lg)
    margin: 0 0 100px 0

  &__container
    overflow: visible

  &__slider
    margin: 0 0 20px 0!important
    +breakpoint(md)
      margin: 0 0 55px 0!important

  &__link
    text-align: center
    +breakpoint(md)
      text-align: right



