.works
  margin: 0 0 45px 0
  +breakpoint(md)
    margin: 0 0 60px 0
  +breakpoint(lg)
    margin: 0 0 90px 0

  &__item
    position: relative
    cursor: pointer
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 0
      height: 4px
      background-color: #7EB5F9
      z-index: 2
      transition: width .4s ease-out
    &:hover
      .works__info
        justify-content: center
      .works__btn
        max-height: fit-content
        padding: 8px 13px
      .works__name
        margin: 0 0 15px 0
      &:after
        width: 100%
    &_mobile
      .works__info
      justify-content: center
      .works__btn
        max-height: fit-content
        padding: 8px 13px
      .works__name
        margin: 0 0 15px 0


  &__info
    position: absolute
    bottom: 0
    background: rgba(0, 0, 0, 0.5)
    padding: 20px 30px
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    color: #ffffff
    transition: all .9s ease-out
    z-index: 1

  &__date
    font-size: 14px
    line-height: 16px
    margin: 0 0 5px 0
  &__name
    font-size: 16px
    line-height: 19px
    font-weight: 700
    margin: 0
    transition: margin .2s ease-out
  &__btn
    display: block
    overflow: auto
    max-height: 0
    padding: 0
    transition: all .2s ease-out



  &__slider
    overflow-x: hidden
    margin: 0 0 20px 0!important
    +breakpoint(md)
      margin: 0 0 55px 0!important

  &__link
    text-align: center
    padding: 0 0 10px 0
    +breakpoint(md)
      text-align: right



